.container {
  color: white;
  height: 100vh;
  background-color: rgb(18, 15, 21);
}

input {
  color: white;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 16px;
  border: 1px solid #313131;
  border-radius: 4px;
  background-color: rgb(36, 36, 64);
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
}

input:focus {
  border: 1px solid rgb(57, 57, 57);
  box-shadow: 0 0 5px rgb(44, 47, 111);
}

.row {
  display: flex;
}



